<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subtraction</title>
</head>
<body>
    <div class="form-section" method="post">
        <h1>Multiplication</h1>
        <form action="/multiplication-form" method="POST">
            a:<input type="number" name="a">
            <br>
            b:<input type="number" name="b">
            <br>
            <input type="submit">
        </form>
    </div>
</body>
</html>